.contact {
  min-height: 50vh;
  margin-right: 50vh;
  margin-bottom: 30vh;
  background: rgba(255, 255, 255, 0.664);
  text-align: center;

  h2 {
    color: rgb(97, 0, 65);
    padding-bottom: 5rem;
    font-weight: normal;
  }
  p {
    color: rgb(0, 0, 0);
    font-weight: normal;
  }
  img {
    padding-top: 3rem;
  }

  .zoom {
    transition: transform 0.2s;
  }

  .zoom:hover {
    transform: scale(1.5);
  }
}
